# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual Environment =====
venv/
env/
.venv/

# ===== Django =====
db.sqlite3
*.log
media/
staticfiles/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== VSCode =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Build =====
build/
dist/
*.egg-info/

# ===== Env file =====
.env
